/* Body styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* Container styles */
.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styles */
h1 {
  color: #ff3e00; /* Bright orange */
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}
/* target the best type */
.psychicType {
  color: purple;
  font-weight: bolder;
}
/* target them more */
.psychicType2 {
  color: purple;
  font-weight: bolder;
}

/* target them a 3rd time */
.pokemon-card.psychic-pokemon {
  border: 2px solid purple; /* Change border color for Psychic-type Pokémon */
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  border: 2px solid #ff3e00; /* Bright orange */
  border-radius: 5px;
}

/* Filter section styles */
h2 {
  color: #ff3e00; /* Bright orange */
  font-size: 24px;
  margin-bottom: 10px;
}

/* Checkbox label styles */
label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
}

/* Pokemon card styles */
.pokemon-card {
  background-color: #fff;
  border: 2px solid #ff3e00; /* Bright orange */
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

/* Pokemon name styles */
.pokemon-card h3 {
  color: #ff3e00; /* Bright orange */
  margin-top: 0;
}

/* Pokemon details styles */
.pokemon-card p {
  margin: 5px 0;
  font-size: 16px;
}
